---
import App from '../App.astro'
import * as Blocks from '@/blocks'
---

<App title="Главная">
  <main>
    <!-- Hero -->
    <Blocks.Hero />
    <!-- Services -->
    <Blocks.Services />
  </main>
</App>
