---
import App from '../App.astro'
import * as Blocks from '@/blocks'
---

<App title="Главная">
  <main>
    <Blocks.Hero />
    <Blocks.Services />
    <Blocks.Steps />
    <Blocks.Reviews />
    <Blocks.Protection />
    <Blocks.TopNews />
  </main>
</App>
