---
import { Section, H2 } from 'ui'
import NewsCard from '@/components/NewsCard.astro'

interface Props {
  title?: string
}

const { title = 'Новости' } = Astro.props

const news = [
  {
    tag: 'Тег новости',
    text: 'Практика разрешения споров ALUMNI Partners подготовила обзор самых важных и интересных позиций Верховного Суда РФ по делам о банкротстве за февраль 2026 года.',
    date: '20.02.2026',
  },
  {
    tag: 'Тег новости',
    text: 'Практика разрешения споров ALUMNI Partners подготовила обзор самых важных и интересных позиций Верховного Суда РФ по делам о банкротстве за февраль 2026 года.',
    date: '20.02.2026',
  },
  {
    tag: 'Тег новости',
    text: 'Практика разрешения споров ALUMNI Partners подготовила обзор самых важных и интересных позиций Верховного Суда РФ по делам о банкротстве за февраль 2026 года.',
    date: '20.02.2026',
  },
  {
    tag: 'Тег новости',
    text: 'Практика разрешения споров ALUMNI Partners подготовила обзор самых важных и интересных позиций Верховного Суда РФ по делам о банкротстве за февраль 2026 года.',
    date: '20.02.2026',
  },
  {
    tag: 'Тег новости',
    text: 'Практика разрешения споров ALUMNI Partners подготовила обзор самых важных и интересных позиций Верховного Суда РФ по делам о банкротстве за февраль 2026 года.',
    date: '20.02.2026',
  },
  {
    tag: 'Тег новости',
    text: 'Практика разрешения споров ALUMNI Partners подготовила обзор самых важных и интересных позиций Верховного Суда РФ по делам о банкротстве за февраль 2026 года.',
    date: '20.02.2026',
  },
]
---

<!-- Topnews -->
<Section name="topnews">
  <H2>{title ? title : 'Новости'}</H2>

  <div class="swiper">
    <div class="swiper-wrapper">
      {
        news.map((item) => (
          <div class="swiper-slide">
            <NewsCard {...item} />
          </div>
        ))
      }
    </div>
  </div>
</Section>

<style lang="scss" is:global>
  @use 'scss/helpers' as *;

  .topnews {
    position: relative;
    padding: rem(80) 0;

    @include media('lg') {
      padding: rem(60) 0;
    }
    @include media('sm') {
      padding: rem(40) 0;
    }

    .container {
      gap: rem(40) !important;

      @include media('sm') {
        gap: rem(32) !important;
      }
    }

    .swiper {
      width: 100%;

      @include media('lg') {
        overflow: visible;
      }
    }

    .swiper-slide {
      height: auto;
      @include media('lg') {
        width: rem(360);
      }
      @include media('sm') {
        width: rem(320);
      }
    }
  }
</style>
