---
import { Image, Icon, H3 } from "ui";
---

<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__item group">
        <a href="/" class="footer__logo">
          <Image src="logo.svg" />
          <span class="col">
            <strong>ДОКТОР КИСЕЛЕВ</strong>
            <span>КЛИНИКА</span>
          </span>
        </a>

        <p>© 2025 . Доктор Киселев</p>

        <a
          class="text-gray"
          href="#"
          target="_blank"
          title="Политика конфиденциальности"
        >
          Политика конфиденциальности
        </a>

        <a
          href="https://seo-tex.ru/"
          target="_blank"
          title="Разработка сайта"
          class="footer__dev"
        >
          <div class="icon">
            <svg
              width="27"
              height="28"
              viewBox="0 0 27 28"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M13.4857 0.651367C5.70161 0.651367 0 6.27452 0 14.1441C0 16.2745 0.416494 18.231 1.17772 19.9702L7.95637 13.7963L5.55801 11.0282L20.7383 8.01365L15.7404 22.7963L13.342 20.0282L6.76437 26.0282C8.7176 27.0716 10.9867 27.6514 13.4857 27.6514C21.3127 27.6514 27 22.0282 27 14.1586C27 6.28904 21.3127 0.651367 13.4857 0.651367Z"
                fill="currentColor"></path>
            </svg>
          </div>
          <span>
            Разработка <br />
            и продвижение
          </span>
        </a>
      </div>

      <div class="footer__item">
        <ul class="menu">
          <li class="menu-item">
            <a href="/">Цены на услуги</a>
          </li>
          <li class="menu-item">
            <a href="/">О клинике</a>
          </li>
          <li class="menu-item">
            <a href="/">Специалисты</a>
          </li>
          <li class="menu-item">
            <a href="/">Отзывы</a>
          </li>
          <li class="menu-item">
            <a href="/">Контакты</a>
          </li>
        </ul>
      </div>

      <div class="footer__item">
        <ul class="menu">
          <li class="menu-item">
            <a href="/">Мануальная терапия</a>
          </li>
          <li class="menu-item">
            <a href="/">Остеопатия</a>
          </li>
          <li class="menu-item">
            <a href="/">Невролог</a>
          </li>
          <li class="menu-item">
            <a href="/">Лечение поясничной грыжи</a>
          </li>
          <li class="menu-item">
            <a href="/">Лечение грыжи шейного отдела</a>
          </li>
          <li class="menu-item">
            <a href="/">Лечение грыжи грудного отдела</a>
          </li>
        </ul>
      </div>

      <div class="footer__item">
        <ul class="menu">
          <li class="menu-item">
            <a href="/">Лечение протрузии </a>
          </li>
          <li class="menu-item">
            <a href="/">Рефлексотерапия</a>
          </li>
          <li class="menu-item">
            <a href="/">Боль в суставах</a>
          </li>
          <li class="menu-item">
            <a href="/">Головные боли</a>
          </li>
          <li class="menu-item">
            <a href="/">Боли в спине</a>
          </li>
          <li class="menu-item">
            <a href="/">Боли в пояснице</a>
          </li>
        </ul>
      </div>

      <div class="footer__item">
        <div
          class="footer__license group"
          data-fancybox="license"
          data-src="/assets/img/license.png"
        >
          <Image src="license.png" />
          <p>Лицензия №Л123124-24</p>
        </div>
      </div>
    </div>
  </div>
</footer>

<style lang="scss" is:global>
  @use "scss/helpers" as *;

  .footer {
    @include media("xl") {
      padding-bottom: rem(70);
    }

    &__wrapper {
      padding-top: rem(58);
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between;
      gap: rem(80) rem(50);
      border-top: rem(1) solid var(--primary);

      @include media("sm") {
        padding-top: rem(30);
        gap: rem(40);
      }
    }

    &__item {
      gap: rem(20);

      @include media("2xl") {
        flex: 1 0 rem(280);
      }
      @include media("sm") {
        flex-basis: 100%;
      }
    }

    .menu {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: rem(15);

      a {
        &:hover {
          color: var(--primary);
          text-decoration: underline;
        }
      }
    }

    &__logo {
      margin-bottom: rem(10);
      display: flex;
      align-items: center;
      gap: rem(30);

      @include media("sm") {
        gap: rem(20);
      }

      img {
        @include size(rem(82));
        object-fit: contain;

        @include media("sm") {
          --size: #{rem(70)};
        }
      }

      .col {
        gap: rem(5);
      }
    }

    &__dev {
      margin-top: auto;
      color: #555;
      font-size: 0.75rem;
      font-weight: 400;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.625rem;
      transition: var(--transition-ease);
      --icon-size: 1.875rem;

      &:hover {
        color: var(--primary);
      }
    }

    &__license {
      position: relative;
      margin-top: rem(-30);
      padding: rem(25) rem(40);
      width: fit-content;
      align-items: center;
      gap: rem(20);

      @include media("sm") {
        margin-top: 0;
        width: 100%;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: #fff;
        border-radius: rem(45) rem(45) 0 0;

        @include media("xl") {
          height: 150%;
        }
      }

      img {
        width: rem(165);
        cursor: zoom-in;
      }
    }
  }
</style>
